@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    color: #fff;
    font-family: "Mukta", sans-serif;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav p{
    font-size: 40px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    color: rgb(126, 121, 121);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(126, 121, 121);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* Projects section */
#projects{
    padding: 50px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 30px;
    animation: slideformleft 1s ease forwards;
}
@keyframes slideformleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
  }
.project-list div{
    background: #262626;
    padding: 20px;
    font-size: 10px;
    font-weight: 300;
    font-family: "Mukta",sans-serif; 
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 6px 7px 10px rgb(68, 68, 68);
}
.project-list div i{
    font-size: 25px;
    margin-bottom: 20px;
    align-items: center;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    font-family: "Mukta",sans-serif; 
    margin-bottom: 15px;
}
.project-list div p{
    font-size: 17px;
    font-family: "Mukta",sans-serif;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 2px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: rgb(126, 121, 121);
    border: 1px solid #fff;
    transform: translateY(-10px);
    box-shadow: 6px 7px 10px rgb(126, 121, 121);
}
#mypro{
    text-align: center;
}

/* Footer */
.copyright{
    /* width: 100%; */
    text-align: center;
    padding: 25px 0;
    background: rgb(93, 90, 90);
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    font-family: "Mukta", sans-serif;
}
.copyright i{
    color: red;
}

nav .fa-solid{
    display: none;
}

/* Media Query */


@media only screen and (max-width:600px){
    nav p{
        font-size: 30px;
    }
    .project-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }
    .project-list div p{
        font-size: 16px;
    }
    .project-list div i{
        font-size: 16px;
    }
    .project-list div h2{
        font-size: 14px;
    }
    .copyright{
        margin-top: 45%;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    /* For hiding menu */
    nav ul{
        background-color: rgb(126, 121, 121);
        position: fixed;
        top: 0;
        /* -200px bcz to hide the menu and adding JS code for clicking
        the menu */
        right: -200px; 
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        font-size: 19px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .copyright{
        font-size: 0.8rem;
    }
}